.login_main{
    display: grid;
    justify-content: center;
    justify-items: start;
    row-gap: 10px;
    position: relative;
    top: 100px;
    font-size: 20px;

}
.message_response{
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
}
.siginWithGoogle{
    /* border: 2px solid orange; */
    width: 100%;
    height: 30px;
    margin-top: 15px;
    box-shadow: 0px 4px 4px 4px #e9e9e8;
}
.siginWithGoogle:hover{
    cursor: pointer;
}
.login_main input{
    width: 100%;
    height: 30px;

}
.login_main span{
  position: relative;
  bottom: 2px;
}
.login_main button{
    background-color: orange;
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 20px;
    font-size: 20px;

}
.login_main button:hover{
    cursor: pointer;
}
.image_login{
    display: inline-block;
    width: 400px;
    height: 400px;
    position: relative;
    left: 1250px;
    bottom: 250px;
    overflow: hidden;

}
.image_login1{
    display: inline-block;
    width: 400px;
    height: 400px;
    position: relative;
    right: 350px;
    bottom: 250px;
    overflow: hidden;

}
.image_login:hover{
    transform: scale(1.1);
    transition: 1s ease;
    cursor: pointer;
    box-shadow:
    1px 1px orange,
    2px 2px orange,
    3px 3px orange,
    4px 4px orange,
    5px 5px orange,
    6px 6px orange;
    transform: translateX(-3px);
    transition: .5s ease;
    filter: brightness(100%)
    
}
.image_login1:hover{
    transform: scale(1.1);
    transition: 1s ease;
    cursor: pointer;
    box-shadow:
    1px 1px orange,
    2px 2px orange,
    3px 3px orange,
    4px 4px orange,
    5px 5px orange,
    6px 6px orange;
    transform: translateX(3px);
    transition: .5s ease;
    filter: brightness(100%)
    
}


