
 .section-pagetop-bg{
    text-align: center;
}
.section-content-padding-y{
    text-align: center;
    position: relative;
    top: 100px;
}
.image_cart{
    width: 100px;
    height: 100px;
}
.grid_cart{
    display: grid;
    grid-template-columns: repeat(4,300px);
    justify-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 200px;
}
.info{
    position: relative;
    bottom: 100px;
}
.div_info{
    display: grid;

    grid-template-columns: repeat(4,300px);
    justify-items: center;
    justify-content: center;
    position: relative;
    left:200px ;
}
.card-body1{
    display: grid;
    grid-template-columns: repeat(2,200px);
    justify-content: center;
  column-gap: 50px;
  position: relative;
  top: 80px;
}
.dlist-align{
    display: grid;
    grid-template-columns: repeat(2,100px);
    justify-content: right;
    font-size: 20px;
    font-weight: bold;
}

.icontext{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}
.p_remove:hover{
   cursor: pointer;
}
.p_remove{
    position: relative;
    bottom: 15px;
}
.but_procces {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.but_procces:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.but_procces:active {
    color: #000
}

.but_procces:active:after {
    background: transparent;
}

.but_procces:hover:before {
    opacity: 1;
}

.but_proccesr:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.but_123 {
    transition-duration: 0.4s;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .but_123:hover {
    background-color: #4CAF50; 
    color: white;
    
  }
  .form-control{
    font-size: 16px;
  }
