* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
  }
  .cartMain{
    display: grid;
    justify-content:space-evenly;
    margin-top: 5%;
   
}
.CartMap{
    display: flex;
    
  justify-content: space-between;

    background-color: rgb(220, 221, 221);
border-radius: 2%;
box-shadow: 3px 3px rgb(243, 150, 62);

}
.CartA{
    display: flex;
    gap: 1%;
   
}
.MyCart{
    font-size: 2.5rem;
}
.nameCart{
    font-size: 2rem;
}

.imgCart{
    /* height: 100%;
    width: 120%; */
    width: 200px;
    height: 220px;
}
.namePrice{
display: grid;
font-size: 1.3rem;
}
.ContinueShopping{
   
    border:0;
    font-size: 120%;
background-color: rgb(243, 150, 62);
border-radius: 8%;
box-shadow: 2px 2px #888888;

}
.ContinueShopping:hover{
background-color: rgb(7, 7, 7);
color: rgb(249, 249, 249);
}
.ClearCart{
   height: 15%;
   width: 20%;
    border:0;
    font-size: 120%;
background-color: rgb(243, 150, 62);
border-radius: 8%;

}
.ClearCart:hover{
background-color: rgb(7, 7, 7);
color: rgb(249, 249, 249);
}
.SubtotalMain{
    display: grid;
    justify-self: start;
    
}
.ProceedToCheckout{
   
    border:0;
    font-size: 120%;
background-color: rgb(243, 150, 62);
border-radius: 8%;
box-shadow: 2px 2px #888888;
}
.ProceedToCheckout:hover{
background-color: rgb(7, 7, 7);
color: rgb(249, 249, 249);
}
.Subtotal{
    font-size: 1.6rem;
}
.QuntityCart{
    display: flex;
    height: 20%;
    font: 1.5em sans-serif;
border-radius: 8%;
border: 0%;

}
.QUpdate{
    border:0;
    font-size: 70%;
background-color: rgb(243, 150, 62);
border-radius: 8%;
}
.QUpdate:hover{
    background-color: rgb(7, 7, 7);
    color: rgb(249, 249, 249);
}
.inputQ{
    border:0;
border-radius: 8%;
box-shadow: 1px 1px #292828;

}
.inputQ:hover{
    box-shadow: 2px 2px #292828;
   
}
.buttonCart{
    display: flex;
    justify-content: space-between;
height: 10%;
margin-top: 10%;

}