
.container{
display: inline-flex;

}
.products{
  padding-top: 50px;
  width: 1050px;
  display: grid;
  grid-template-columns: 22rem 22rem 22rem 22rem ;
}
.product_image{
  width: 200px;
  height: 220px;
  transition: .5s ease;

}
.product_image:hover{
 
   transform: scale(1.1);
   transition: 1s ease;
  cursor: pointer;
  box-shadow:
1px 1px #373737,
2px 2px #373737,
3px 3px #373737,
4px 4px #373737,
5px 5px #373737,
6px 6px #373737;
transform: translateX(-3px);
transition: .5s ease;
filter: brightness(100%)

}
.categorys{
  display: flex;
justify-content: space-around;}

.product{
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.product_details{
  display: grid;
grid-template-rows: 1fr 1fr 2fr;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.details_component{
  display: flex;
  margin: auto;
  font-size: 20px;

}


.filterbar{
  margin-top: 50px;

  background-color:orange ;
  width: 250px;
}
.category{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.category:hover{
  cursor: pointer;
  color: orange;
}

.category1{
  margin-top: 20px;
}
.but_cart_view{
  background-color: orange;
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.but_cart_view:hover{
  cursor: pointer;

}
.active1{
  opacity: 0.3;
  background-color: orange;
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.but_cart_view:visited{
opacity: 0.1;
color: red;
}
.div_but{
  display: grid;
  grid-template-columns: repeat(2,100px);
  column-gap: 10px;
  margin-bottom: 20px;
}
.input_range{
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 8px 10px #888888;

}
.input_max_min{
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;

}
.p_price{
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;

}
.input_max_min1{
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
  border-bottom: 2px solid;
  width: 50px;


}
.but_11{
  position: relative;
  left: 800px;
  font-size: 40px;
  height: 50px;
  background-color: white;
  border: none;
  
  }
  .but_11:hover{
      transform: rotate(20deg)
  }
  .but_22:hover{
      transform: rotate(-20deg)
  }
  .but_22{
      position: relative;
      left: 1000px;
      height: 50px;
      font-size: 40px;
      height: 50px;
  background-color: white;
  border: none;
  }
 