
.productInfoMain{
    display: grid;
    justify-content: center;
    row-gap: 10px;
    position: relative;
    bottom: 400px;
    margin-left:120px ;
    
    /* margin-top: 5%; */

}
.productInfoMain button{
    background-color: orange;
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 20px;
    font-size: 20px;
}
.productInfoMain:hover{
    cursor: pointer;

}
.but_part1{
    display: grid;
    grid-template-columns: repeat(2,150px);
    column-gap: 20px;
}

.p_name_des{
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
}
.productInfoMain img{
    width: 100px;
    height: 100px;
    text-align: center;
  
    
}
.div_img{
    display: inline;
    justify-content: center;
    margin-left: 60px;
   position: relative;
   top: 30px;
   
}
.div_img:hover{
    filter: grayscale(100%);

}
.main_left{
    display: grid;
    grid-template-columns: repeat(2,200px);
    justify-content: right;
    position: relative;
    bottom: 770px;
    column-gap: 20px;
    margin-right: 80px;
    }
    .main_left1{
        display: grid;
        justify-content: center;
        grid-template-columns:repeat(1,200px) ;
        row-gap: 20px;
        font-size: 20px;
        font-weight: bold;
        /* border-bottom: 2px solid; */
        box-shadow: 5px 1px 10px 5px  rgb(248, 194, 85);
    
    }
    .p_icons_left{
        text-align: center;
        height: 20px;
        position: relative;
        right: 20px;
    }