
.footer {
    background-color: rgb(27, 27, 27);
    border-top:2px solid rgb(58, 54, 54);
    height: 100px;
    position: relative;
    width: 100%;
    bottom: 0; 
     top: 300px;
    color: white;
    font-size: 25px;
    text-align: center;
    display: grid;
    grid-template-columns:repeat(3,600px) ;
    background-color:orange;
    overflow: hidden; 

    
   }
   .copyright{
    position: relative;
    top:7px;
   }
   .master_card{
    position: relative;
    top: 35px;
    display: grid;
    grid-template-columns: repeat(3,40px);
    left: 200px;

   
   }
   .facebook_icons{
    position: relative;
    top: 35px;
    display: grid;
    grid-template-columns: repeat(6,40px);
    left: 200px;
   }
   .about_register{
    display: grid;
    grid-template-columns: repeat(3,500px);
    justify-content: center;
    justify-items: center;
    border-bottom:2px solid rgb(138, 136, 136) ;
    position: relative;
    top: 200px;
    right: 30px;
   }
   

   
   .icons_register{
    width: 200px;
   }
   .about_register1{
    width: 200px;
    height: 200px;
   }
   
   .span_about{
    position: relative;
    bottom: 70px;
    left: 50px;
    width: 50px;
    font-size: 17px;
    font-weight: bold;
   }
   .about_register2{
    display: grid;
    grid-template-columns: repeat(3,500px);
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
    position: relative;
    top: 320px;
    left: 400px;
    width: 900px;
   
   }
   .about_register3{
    width: 200px;
    height: 200px;
   }
   .span_about1{
    position: relative;
    bottom: 70px;
    left: 50px;
    width: 50px;
    font-size: 17px;
    font-weight: bold;
   }
   .about_register4{
    width: 50px;
    height: 50px;
   position: relative;
   bottom: 50px;
   left: 40px;


   }
   @media only screen and (max-width: 400px) {
    .facebook_icons{
        position: relative;
        /* top: 35px; */
        display: grid;
        grid-template-rows: repeat(6,40px);
    }
    .copyright{
        position: relative;
        /* right: 45px; */
        width: 440px;
    }
    .footer {
    border-top:2px solid rgb(58, 54, 54);
    height: 100px;
    position: relative;
    width: 214%;
    bottom: 0; 
    top: 300px;
    color: white;
    font-size: 25px;
    text-align: center;
    display: grid;
    /* grid-template-rows:repeat(3,350px); */
    grid-template-columns: repeat(3,250px);
    background-color:orange;
    overflow: hidden; 
    }
    .about_register{
        display: grid;
        grid-template-columns: repeat(3,350px);
        justify-content: left;
        justify-items: center;
       
        position: relative;
        top: 200px;
        right: 80px;
       }
       .about_register1{
        width: 50%;
        height: 50%;
       }
       .about_register2{
        display: grid;
        grid-template-columns: repeat(3,290px);
        column-gap: 10px;
        justify-content: right;
        justify-items: center;
        position: relative;
        top: 280px;
        left: -45px;
        /* width: 900px; */
       
       }
       .about_register4{
        width: 15px;
        height: 15px;

       }
       .span_about{
        position: relative;
        bottom: 70px;
        top: 20px;
          left: -70px;     
              width: 350px;
        font-size: 10px;
        font-weight: bold;
       }
       .span_about1{
        position: relative;
        bottom: 50px;
        left: 40px;
        width: 350px;
        font-size: 10px;
        font-weight: bold;
       }
      
       
  }