html {
    scroll-behavior: smooth;
  }
.div_page1{
    display: grid;
    grid-template-columns: repeat(3,100px);
    justify-content: center;
    position: relative;
    top: 200px;
    row-gap: 100px;
    column-gap: 200px

}

