.cards{
    display: flex;
justify-content: space-around;
}
.card_One{
    display: flex;
justify-content: center;
height: 150px;
width: 280px;
border: solid 1px white;
background-color: blue;
color: white;
}

.admin_container{
    display: flex;
}
.dashbord{
    width: 300px;
    background-color: rgb(58, 57, 57);
}

.Tables{
    display: flex;

}
.Table{
    width: 560px;
    height: 300px;
    background-color: gray;
    border: solid 1px white;
}

.Admin_Body{
    display: grid;

}