.Form{
    display: grid;
    justify-content: center;
    position: relative;
    top: 100px;
    font-size: 20px;
    
}
.input_register{
    width: 100%;
    height: 30px;
    margin-top: 10px;

}
.but_create{
    background-color: orange;
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 20px;
    font-size: 20px;
}
.but_create:hover{
    cursor: pointer;
}
.id1{
    width: 100%;
    height: 30px;
    font-size: 15px;


}
.image_login2{
    display: inline-block;
    width: 400px;
    height: 400px;
    position: relative;
    left: 1250px;
    bottom: 300px;
    overflow: hidden;

}
.image_login3{
    display: inline-block;
    width: 400px;
    height: 400px;
    position: relative;
    right: 350px;
    bottom: 300px;
    overflow: hidden;

}
.image_login2:hover{
    transform: scale(1.1);
    transition: 1s ease;
    cursor: pointer;
    box-shadow:
    1px 1px orange,
    2px 2px orange,
    3px 3px orange,
    4px 4px orange,
    5px 5px orange,
    6px 6px orange;
    transform: translateX(-3px);
    transition: .5s ease;
    filter: brightness(100%)
    
}
.image_login3:hover{
    transform: scale(1.1);
    transition: 1s ease;
    cursor: pointer;
    box-shadow:
    1px 1px orange,
    2px 2px orange,
    3px 3px orange,
    4px 4px orange,
    5px 5px orange,
    6px 6px orange;
    transform: translateX(3px);
    transition: .5s ease;
    filter: brightness(100%)
    
}

